
# Default ignored files
/.idea.Rocket-chat-api/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.Rocket-chat-api/.idea/dataSources/
/.idea.Rocket-chat-api/.idea/dataSources.local.xml